.bootphone {
    color: white;
    text-align: center;
    display: inline;
}

.container {
    width: 90% !important;
}

#numbers {
    font-family: 'Source Code Pro', monospace;
}

.phoneinput {
    text-align: center;
    border: solid 5px black;
    background-color: lightgray;
    color: black;
    padding: 30px;
}

.digit :hover {
    background-color: lightgray;
    cursor: pointer;
}

.digit {
    text-align: center;
    border: solid 3px black;
}

#call {
    text-align: center;
    padding: 20px;
    border: solid 3px black;
    background-color: green;
    color: white;
}

#call :hover {
    cursor: pointer;
}

.callbutton {
    height: 10%;
    width: 10%;
}