.navbar-header {
    color: white;
    text-align: center;
}

.phoneinput {
    text-align: center;
    border: solid 5px black;
    background-color: lightgray;
    color: black;
    padding: 30px;
}

.digit :hover {
    background-color: lightgray;
    cursor: pointer;
}

.digit {
    text-align: center;
    border: solid 3px black;
}

#call {
    text-align: center;
    padding: 20px;
    border: solid 3px black;
    background-color: green;
    color: white;
}

#call :hover {
    cursor: pointer;
}